<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar bg-light">
        <form class="container-fluid justify-content-end">
          <%= link_to 'Português', root_path(locale: "pt-BR"), class:"btn btn-sm btn-outline-secondary me-2", type:"button" %>
          <%= link_to 'English', root_path(locale: "en"), class:"btn btn-sm btn-outline-secondary me-2", type:"button" %>
        </form>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>