<p id="notice"><%= notice %></p>

<div class="mb-3">
  <%= label_tag nil, t("columns.description"), class:"form-label" %>
  <%= text_field_tag nil, @coin.description, class:"form-control", disabled: true %>
</div>

<div class="mb-3">
  <%= label_tag nil, t("columns.acronym"), class:"form-label" %>
  <%= text_field_tag nil, @coin.acronym, class:"form-control", disabled: true %>
</div>

<div class="mb-3">
  <%= label_tag nil, t("columns.url_image"), class:"form-label" %>
  <%= text_field_tag nil, @coin.url_image, class:"form-control", disabled: true %>
</div>

<div class="mb-3">
  <%= label_tag nil, t("columns.mining_type"), class:"form-label" %>
  <%= text_field_tag nil, @coin.mining_type.description, class:"form-control", disabled: true %>
</div>

<%= link_to t("links.edit"), edit_coin_path(@coin), type:"button", class:"btn btn-primary" %>
<%= link_to t("links.back"), coins_path, type:"button", class:"btn btn-primary" %>
